<div class="table-responsive">
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Imagen</th>
      <th scope="col">Producto</th>
      <th scope="col">Precio</th>
      <th scope="col">Cantidad</th>
      <th scope="col">Total</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of cartItems">
      <!--<td>{{ item.product.name }}</td>
      <td>{{ item.product.price }}</td>-->
      <td>
        <div class="quantity">
          <button (click)="decreaseQuantity(item)" class="btn btn-sm btn-primary">-</button>
        <!--  <span>{{ item.quantity }}</span>-->
          <button (click)="increaseQuantity(item)" class="btn btn-sm btn-primary">+</button>
        </div>
      </td>
      <td><img [src]="" alt="Producto" width="50"></td>
     <!-- <td>{{ item.product.price * item.quantity }}</td>-->
      <td>
        <button (click)="removeFromCart(item)" class="btn btn-sm btn-danger">Eliminar</button>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="4">Total:</td>
     <!-- <td>{{ getTotal() }}</td>-->
      <td></td>
    </tr>
  </tfoot>
  </table>
</div>
