@import "src/styles.scss";

.header {
	background-color: $background-color_3;
  margin-bottom: 2px;
	height: 50px;
}

a{
  color: white;
  text-decoration: none;
  text-decoration-line: none;

}
div{
  text-align: right;
 
}
.header div{
  display: block;
}


#btn_login_name{
  color: $color_3;
  display: block;
  text-align: right;
  text-decoration: none;
  text-decoration-line: none;
  font-style: italic;
  float: right;
  padding: 10px;

}

#btn_login{
  display: block;
  text-align: right;
  color:white;
  padding: 10px;
  border: none;
  text-decoration: none;
  text-decoration-line: none;
  font-style: italic;

}
#btn_login_out{
  display: block;
  text-align: right;
  color:white;
  padding: 10px;
  border: none;
  text-decoration: none;
  text-decoration-line: none;
  font-style: italic;

  cursor: pointer;

}



