<div class="table-responsive">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Precio</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Total</th>
        <th scope="col">Imagen</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of products">
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td >{{ item.price }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{item.subtotal}}</td>
        <td><img width="50px" height="50px"  [src]="'data:image/webp;base64,' + item.image " alt="Product Image"></td>
        <td>
          <button (click)="removeFromOrder(item)" class="btn btn-sm btn-danger">Eliminar</button>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="4">Total:</td>
        <td>{{ total }} €</td>
        <td></td>
      </tr>

    </tfoot>
    </table>
    <td class="process">
      <button id="process" [routerLink]="['/order']" class="btn btn-primary" (click)="process(products)">TRAMITAR</button>
  </div>
