@import "src/styles.scss";

.table-responsive{
  width: 80%;
  margin: 20px auto;
}

.table {
  .quantity {
    display: flex;
    align-items: center;

    button {
      margin: 0 5px;
    }
  }
}
.process{
  float: right;
  padding-right: 50px;
}

#process{
    background-color: $background-color_9;
    border-color: $background-color_9;
    margin-top: 10px;
   float: left;


    &:hover {
      background-color: $background-color_10;
      border-color: $background-color_11;
    }

    &:focus {
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
    }
  }
